<html>
    <head>
        <title>Cartas de Recomendação - Ingresso na Pós</title>
    </head>
    <body>
        <table cellspacing="0" style="border:1px solid #CCCCCC; padding: 3px">
          <tr>
            <td>
              <p>Hi <%= @teacher %>,</p>
              <p> The student <%= @student %> deseja que você submeta uma carta. Faça isso por <%=  link_to "aqui", "http://localhost:3000/letter/"+@hashcode%> </p>
              <p>Thank you,</p>
              <p>Sistema de Ingresso na Pós Graduação - IME-USP</p>
            </td>
          </tr>
        </table>
    </body>
</html>
